<style type="text/css">
  <%= raw Rails.application.assets['application.css'].to_s %>
</style>
<script type="text/javascript">
  <%= raw Rails.application.assets['application.js'].to_s %>
</script>

<p id="notice"><%= notice %></p>

<div id="spot_banner_title">
  <h2><%= @spot.name %></h2>
  <p><%= @spot.city.name %></p>
</div>

<div id="spot_banner" style="background-image:url('<%= @spot.image_url %>')"></div>


<div id="comments">
  <div id='comment_intro'><h3>Comments about <%= @spot.name %></h3></div> | <div id='comment_form_link'>New Comment</div>

  <div id="new_comment_form">
    <% if user_signed_in? %>
      <%= form_for [@city, @spot, Comment.new] do |f| %>
        <div class="field">
          <%= f.text_area :body, cols: 35, rows: 2 %><br>
          <%= f.submit %>
          <div class="btn" id="cancel_comment"> Cancel </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <% @spot.comments.order("created_at DESC").each do |comment| %>
    <div class="single_comment">
      <p id='comment_body'><%= comment.body %></p>
      <p id='comment_info'>Posted by <%= comment.user.email %> on <%= comment.created_at.strftime("%b %d, %Y") %></p>
      <% if comment.user == current_user %>
        <%= link_to " • Delete", @comment, method: :delete %>
      <% end %>
    </div>
  <% end %>

</div>

<%= link_to 'Edit', edit_city_spot_path(@city, @spot) %> |
<%= link_to 'Back', city_path(@city) %>
