<p id="notice"><%= notice %></p>

<h1>Cities</h1>

<div class="city_row">
  <%= @cities[0..2].each do |city| %>
    <div class="city">
      <%= link_to image_tag(city.image_url, class: "city_img"), city%>
      <div class="city_name"><%= city.name %></div>
    </div>
  <% end %>
</div>

<div class="city_row">
  <%= @cities[3..5].each do |city| %>
    <div class="city">
      <%= link_to image_tag(city.image_url, class: "city_img"), city %>
      <div class="city_name"><%= city.name %></div>
    </div>
  <% end %>
</div>

<div class="city_row">
  <%= @cities[6..8].each do |city| %>
    <div class="city">
      <%= link_to image_tag(city.image_url, class: "city_img"), city %>
      <div class="city_name"><%= city.name %></div>
    </div>
  <% end %>
</div>
