<p id="notice"><%= notice %></p>

<p>
  <strong>City:</strong>
  <%= @city.name %>
</p>

<p>
  <strong>State:</strong>
  <%= @city.state %>
</p>
<br>

<div>
  <h2><%= @city.spots.count %> Spots listed in <%= @city.name %></h2>

  <% @city.spots.each do |spot| %>
    <div class="spot">
      <%= link_to image_tag(spot.image_url, class: "spot_img"), city_spot_path(@city, spot) %>
    </div>
    <div class="spot_name"> <%= spot.name %> </div>
  <% end %>
</div>

<div id="new_spot_form">

  <% if user_signed_in? %>

    <h3>
      Submit a new Spot in <%= @city.name %>:
    </h3>

    <%= form_for [@city, Spot.new] do |f| %>
      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name, placeholder: "What's the Spot's name?" %>
      </div>

      <div class="field">
        <%= f.label :Image %>
        <%= f.text_field :image_url, placeholder: "Enter image link URL" %>
      </div>

      <div class="field">
        <%= f.label :description %>
        <%= f.text_area :description, placeholder: "Tell us about this Spot" %>
      </div>

      <div>
        <%= f.submit %>
      </div>
    <% end %>

  <% end %>

</div>

<%= link_to 'Edit', edit_city_path(@city) %> |
<%= link_to 'Back', cities_path %>
